# Ignore environment variable files
.env

# Ignore database files
*.db
*.sqlite3

# Ignore coverage reports
tests/htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Ignore cache
.pytest_cache/
__pycache__/

# Ignore IDE specific files
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Ignore logs
logs/
*.log

# Ignore migrations
migrations/
*/migrations/
alembic.ini
alembic/

# Ignore virtual environment
.venv/
logs/
*.log.zip